/*Esto sirve para quitar los margin-top, y demas del body de la pagina*/
body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
/*Esto sirve para darle estilo a los titulos (h1,h2,h3... etc)*/
h1{
  text-align: center;
  color: white;
  list-style: none;
}
h2{
  margin-top: 25px;
  text-align: center;
  color: white;
  font-size: 35px;
}
/*Esto sirve para darle estilo al menu del dia que creamos en la seccion de menu.html es un id para los textos del menu*/
#infantil{
  text-align: center;
  color: white;
  font-size: 25px;
}
.tag{
  color: black;
  font-size: 35px;
}
/*Estos class que se ven reflejados aqui son para darle estilo y hacer flex a las columnas de fotos y textos de nuestros platos combinados*/
.imagen{
  width: 300px;
  height: 300px;
}
.grande{
  display: flex;
  width: 100%;
}
.plato1{
  flex: 2;
}
.plato2{
  flex: 1;
}
.grande2{
  display: flex;
}
.plato3{
  flex: 2;
}
.plato4{
  flex: 1;
}
h3{
  color: white;
  font-size: 28px;
}
.platos{
  color: white;
  font-size: 20px;
}
/*Estos th, tr, y td son los elementos de la tabla y con este codigo de aqui abajo damos estilo a la tabla
Este estilo tambien sirve para dar estilo a la tabla que tenemos en la categoria de postres*/
th{
  font-size: 35px;
  color: white;
  margin-bottom: 10px;
}
tr{
  font-size: 20px;
  color: white;
}
td{
  width: 50%;
  text-align: center;
}
/*Esto es el container del slider y con este codigo de aqui abajo tocamos el flex y el estilo del slider*/
.flex-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySlides{
  width: 600px;
  height: 400px;
}
#divslider{
  display: flex;
  margin-top: 100px;
  margin-left: 20px;
}
#tituloslider{
  float: left;
  margin-left: 20px;
}
.titulopostres{
  text-align: center;
}
.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
