body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
h1{
  text-align: center;
  color: white;
  list-style: none;
}
h2{
  margin-top: 25px;
  text-align: center;
  color: white;
  font-size: 35px;
}
#infantil{
  text-align: center;
  color: white;
  font-size: 25px;
}
.tag{
  color: black;
  font-size: 35px;
}
.imagen{
  width: 400px;
  height: 400px;
}
.grande{
  display: flex;
  width: 100%;
}
.plato1{
  flex: 1;
  border: 2.5px solid white;
}
.plato2{
  flex: 1;
  border: 2.5px solid white;
}
.grande2{
  display: flex;
}
.plato3{
  flex: 1;
  border: 2.5px solid white;
}
.plato4{
  flex: 1;
  border: 2.5px solid white;
}
h3{
  color: white;
  font-size: 28px;
}
.platos{
  color: white;
  font-size: 20px;
}

th{
  font-size: 35px;
  color: white;
  margin-bottom: 10px;
}
tr{
  font-size: 20px;
  color: white;
}
td{
  width: 50%;
  text-align: center;
}
.flex-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySlides{
  width: 600px;
  height: 400px;
}
#divslider{
  display: flex;
  margin-top: 100px;
  margin-left: 20px;
}
#tituloslider{
  float: left;
  margin-left: 20px;
}

.titulopostres{
  text-align: center;
}
