/*Este archivo sirve para ocultar imagenes cuando la resolucion de las pantallas
baja como por ejemplo en un movil, una tablet, o por lo contrario para aumentar los tamaños de los elementos
en pantallas como televisiones, y pantallas de mas resolucion */

/*Movil*/
@media (max-width:576px){
  .imagenmenu{
    visibility: hidden;
  }
}

/*Tablet*/
@media (min-width:577px) and (max-width:768px){
  .imagenmenu{
    visibility: hidden;
  }
}

/*portatil*/
@media (min-width:769px) and (max-width:992px){
  .imagenmenu{
    visibility: visible;
  }
}

/*pc*/
@media (min-width:993px) and (max-width:1200px){
  .imagenmenu{
    visibility: visible;
  }
}

/*pantallas grandes y televisores*/
@media (min-width:1201px){
  .imagenmenu{
    visibility: visible;
  }
}
